.contenedor {
    background-color: aquamarine;
    padding: 10px;
    font-size: 25px;
    text-align: center;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 8fr 2fr;
    grid-template-areas: "header header header"
                        "side1 contenido side2"
                        "footer footer footer";

    
}
.contenedor>div
{
    background-color: chartreuse;
}
.contenedor .header
{
    background-color: yellow;
    grid-column: header;

}
.contenedor .side1
{
    background-color: bisque;
    grid-column: side1;
    grid-gap: 10px;
    display: grid;
}
.contenedor .side1 .s1 
{
    background-color: blue;
    grid-column: 20px;
}
.contenedor .side1 .s2
{
    background-color: blue;
    grid-column: 20px;
}
.contenedor .contenido
{
    background-color: beige;
    grid-column: contenido;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.contenedor .contenido .c1
{
    background-color: blueviolet;
    grid-row: 20px;
}
.contenedor .contenido .c2
{
    background-color: blueviolet;
    grid-row: 20px;
}
.contenedor .contenido .c3
{
    background-color: blueviolet;
    grid-row: 20px;
}
.contenedor .side2
{
    background-color: rosybrown;
    grid-column: side2;
}
.contenedor .footer
{
    background-color: red;
    grid-column: footer;
}